# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/
notebooks/
test.ipynb

# Safety Net: Ignore data/models even if they are in parent folder
data/
models/
*.pt
*.pth
*.bin

# System Junk
.DS_Store
Thumbs.db

.env

# outputs
outputs/
!outputs/.gitkeep
logs/
!logs/.gitkeep